<div clas="container">
  <div class="row my-4">
    <div class="col-3"></div>
    <div class="col-6">
      <h1 class="text-center">ココスキ！←ワカル</h1>
      <p class="text-center">自分の好きなモノの好きなところを呟くサイトです<br>
      言葉、物語、音楽、ゲームや漫画、キャラクター、アイドル...<br>
      自分の「好き」を呟いたり、誰かの「好き」をさらに推してみよう！</p>
    </div>
  </div>
</div>


