<div clas="container">
  <div class="row my-4">
    <div class="col-3"></div>
    <div class="col-6">
      <h1 class="text-center">ココスキ！←ワカル!!</h1>
      <p class="text-center">自分の好きなモノの好きなところを好きなだけ呟くサイトです<br>
      例えば、言葉、物語、音楽、ゲームや漫画、キャラクター、アイドル...</br>
      自分の「好き」を呟いたり、誰かの「好き」をさらに推してみよう！</p>
    </div>
  </div>
  
  <div class="row my-4">
    <div class="col-3"></div>
    <div class="col-6">
      <h3 class="text-center">楽しみ方</h3>
      <p class="text-center">推しポイントはどんなにピンポイントでも大丈夫、あなたの「好き」を言ってみよう<br>
      コメントでさらに盛り上がろう</br>
      タグ検索で誰かのオススメを見てみよう</p>
    </div>
  </div>
</div>


